<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CsvPath" value="Data\measures_v2.csv" />
		<add key="SampleDelayMs" value="2000" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="MotorServiceContractEndpoint" 
					  address="net.tcp://localhost:5003/MotorServiceContract" 
					  binding="netTcpBinding" 
					  contract="Common.IMotorServiceContract"/>
		</client>
	</system.serviceModel>
</configuration>