<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="MotorServiceContractEndpoint" address="net.tcp://localhost:5003/MotorServiceContract" binding="netTcpBinding" contract="Common.IMotorServiceContract"/>
		</client>
	</system.serviceModel>
</configuration>