<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Speed_threshold" value="200" />
		<add key="Uq_threshold" value="50" />
		<add key="Ud_threshold" value="50" />
		<add key="Deviation_threshold" value="25" />
		<add key="GoodCsv" value="Data\measurements_session.csv" />
		<add key="BadCsv"  value="Data\rejects.csv" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		<services>
			<service name="ElektricniMotor.MotorServiceContract">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:5003"/>
					</baseAddresses>
				</host>
				<endpoint address="MotorServiceContract"
						  binding="netTcpBinding"
						  contract="Common.IMotorServiceContract"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
